django>=5.0,<6.0
djangorestframework
psycopg2-binary
Pillow
django-filter
django-crispy-forms
crispy-bootstrap5
django-ckeditor
django-allauth
PyJWT>=2.0
razorpay
python-decouple
gunicorn
django-cleanup
whitenoise
django-cors-headers
geopy
dj-database-url
